body {
    display: flex;
    margin: 8;
    font-family: 'Roboto', sans-serif;
    color: white;
}

h1 {
    font-weight: 700;
    font-size: 32px;
}

h2 {
    cursor: pointer;
}

.button {
    text-align: center;
}

.joinlogo {
    
        position: relative;
        width: 80px;
        object-fit: cover;
        padding-left: 60px;
        padding-top: 30px;
        
    
}

.btnAddTask {
    padding-top: 60px;
}

.btnMatrix, .btnList {
    padding-top: 70px;
}

.sidebar {
    width: 200px;
    height: -webkit-fill-available;
    background-color: #4587de;
    border: 3px solid #376cb3;
    margin: 8px;
    padding: 8px;
}

.head {
    width: -webkit-fill-available;
    height: 80px;
    background-color: #4587de;
    border: 3px solid #376cb3;
    margin: 8px;
    padding: 8px;
    display: flex;
    justify-content: center;
}

.row2 {
    display: flex;
    height: 100%;
    width: calc(100% - 200px);
    flex-direction: column;
}

.mainWindow {
    width: -webkit-fill-available;
    height: calc(100% - 80px);
    background-color: #4587de;
    border: 3px solid #376cb3;
    margin: 8px;
    padding: 8px;
}