body {
    display: flex;
    margin: 8;
    font-family: 'Roboto', sans-serif;
    color: white;
}

h1 {
    font-weight: 700;
    font-size: 32px;
}

.button {
    text-align: center;
    cursor: pointer;
}

.joinlogo {
    position: relative;
    width: 80px;
    object-fit: cover;
    padding-left: 60px;
    padding-top: 30px;
}

.btnAddTask {
    padding-top: 60px;
}

.btnMatrix, .btnList {
    padding-top: 70px;
}

.sidebar {
    width: 200px;
    height: -webkit-fill-available;
    background-color: #4587de;
    border: 3px solid #376cb3;
    margin: 8px;
    padding: 8px;
}

.head {
    width: -webkit-fill-available;
    height: 80px;
    background-color: #4587de;
    border: 3px solid #376cb3;
    margin: 8px;
    padding: 8px;
    display: flex;
    justify-content: center;
}

.row2 {
    display: flex;
    height: 100%;
    width: calc(100% - 200px);
    flex-direction: column;
}

.mainWindow {
    width: -webkit-fill-available;
    height: calc(100% - 80px);
    background-color: #4587de;
    border: 3px solid #376cb3;
    margin: 8px;
    padding: 8px;
}

.urgency {
    display: flex;
}

.importance {
    position: absolute;
}

.h2-urgent, .h2-noturgent, .h2-important, .h2-notimportant {
    position: absolute;
    font-style: italic;
}

.h2-urgent {
    padding-left: 240px;
}

.h2-noturgent {
    right: 180px;
}

.h2-important {
    top: 110px;
    transform: rotate(-90deg);
}

.h2-notimportant {
    top: 280px;
    transform: rotate(-90deg);
    left: -12px;
}

.important-urgent, .important-noturgent, .notimportant-urgent, .notimportant-noturgent {
    position: absolute;
    background-color: white;
    height: 140px;
    width: 350px;
    border: 2px solid grey;
}

.important-urgent {
    left: 370px;
    top: 210px;
}

.notimportant-urgent {
    top: 395px;
    left: 370px;
}

.important-noturgent {
    right: 70px;
    top: 210px;
}

.notimportant-noturgent {
    right: 70px;
    top: 395px;
}

.listTitle {
    font-family: 'Signika Negative', sans-serif;
    font-size: 30px;
}

.sortText {
    display: flex;
    justify-content: space-between;
    padding: 0px 30px;
}

.sort-cont, .details {
    font-family: 'Voces', cursive;
    font-size: 20px;
}

.text-cont {}

.details-text {}

.listItem1 {
    padding: 0px 15px;
    display: flex;
    justify-content: space-between;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    text-align: start;
    font-family: 'Voces', cursive;
    font-size: 18px;
    color: black;
}